
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //int Count = Convert.ToInt32(ViewData["Count"]);
    List<Demo01.Model.Data.ProductCategory> type = ViewData["type"] as List<Demo01.Model.Data.ProductCategory>;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        #page {
            height: 200px;
            margin: 0 auto;
            /*border: 1px solid red;*/
        }

        #left {
            /*width: 200px;
            height: 400px;
            border: 1px solid red;
            float: left;*/
        }

        #left {
            overflow: auto;
        }

        .point {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="left"></div>
    <div id="right">
        <table id="page" class="table table-hover text-center">
        </table>
        <div id="choose">
            @*@for (int i = 0; i < Count; i++)
                {
                    <a class="btns btn" href="javascript:void(0)">@(i + 1)</a>
                }*@
            <p id="pag"></p>
        </div>
    </div>
    <!--模态框-->
    <div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">修改</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label data-id="" id="lab">商品名称</label>
                            <input id="name" class="form-control" type="text" value="" />
                        </div>
                        <div>
                            <label>市场价格</label>
                            <input id="price" class="form-control" type="text" value="" />
                        </div>
                        <div>
                            <label>商品售价</label>
                            <input id="Sprice" class="form-control" type="text" value="" />
                        </div>
                        <div>
                            <label>商品介绍</label>
                            <input id="Det" class="form-control" type="text" value="" />
                        </div>
                        <div>
                            <label>商品类别</label>
                            <select class="form-control" id="type">
                                @foreach (var item in type)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" id="Upd" class="btn btn-success">提交更改</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->

        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(function () {
            var ind = 0;
            var SID = 0;
            var num;
            $(".text").click(function () {
                $.ajax({
                    url: "/home/band",
                    type: "post",
                    dataType: "json",
                    success: function (res) {
                        console.log(res)
                        if (res==0) {
                             location.reload();
                        }
                       
                    }
                });
            });
            //location.reload();
            function Menu() {
                $.ajax({
                    url: "/home/Menu",
                    dataType: "json",
                    type: "post",
                    success: function (res) {
                        var data = JSON.parse(res);
                        //console.log(data);
                        if (data != null) {
                            var FirstMenuIndex = [];
                            var FirstMenuName = [];
                            for (var i = 0; i < data.length; i++) {
                                FirstMenuIndex.push(data[i]["FirstMenu"].FirstID);
                                FirstMenuName.push(data[i]["FirstMenu"].FirstName);
                            }
                            FirstMenuIndex = $.unique(FirstMenuIndex.sort());//去重
                            FirstMenuName = $.unique(FirstMenuName.sort());
                            for (var j = 0; j < FirstMenuIndex.length; j++) {
                                console.log("一级菜单：" + FirstMenuName[j]);//append
                                $("#left").append("<div class='Show point>" + FirstMenuName[j] + "<ul class='ul'></ul></div>")
                                Me(data, FirstMenuIndex[j])

                            }
                        }
                        ShowMeun(0)
                        MenuClick()
                    }
                });
            }
            //根据索引查找内data容
            function Me(Contents, Index) {
                for (var i = 0; i < Contents.length; i++) {
                    if (Contents[i]["SecondMenu"] != null) {
                        if (Contents[i]["SecondMenu"].FirstID == Index) {
                            console.log("二级菜单：" + Contents[i]["SecondMenu"].SecondName)//append
                            $(".ul").append("<li data-id=" + Contents[i]["SecondMenu"].SecondID + ">" + Contents[i]["SecondMenu"].SecondName + "</li>")
                        }
                    }

                }

            }
            //Menu()
            function coun(SID) {
                $.ajax({
                    url: "/home/Count",
                    dataType: "json",
                    data: { SID: SID },
                    type: "post",
                    success: function (res) {
                        num = res
                        //alert(num)
                        if (res != 0) {
                            $("#pag a").remove();
                            for (var i = 0; i < res; i++) {
                                $("#pag").append("<a class='but btn'>" + (i + 1) + "</a>");
                            }
                            $(".but").click(function () {
                                band($(this).text(), SID)
                                ind = $(this).text();
                            });
                        }
                    }
                });
            };
            function ShowMeun(n) {
                var a = n
                $(".Show").click(function () {
                    $(".ul").eq($(this).index()).show();
                    if (a > 0) {
                        $(".ul").hide();
                        a = 0;
                        return;
                    }
                    a++
                });

                //$(".ul").show();
            }
            MenuClick()
            function MenuClick() {
               
                $(".Firstmenu li a").click(function (event) {
                    SID = $(this).attr("data-id")
                    coun(SID)
                    if (num != 0) {
                        band(1, SID)
                    } else {
                        switch ($(this).text()) {
                            case "查看商品":
                                band(1, 0)
                                break;
                            case "新增商品":
                                $("#Upd").text("添加商品")
                                $("#Upd").attr("id", "Ins")
                                $('#myModal').modal('show')
                                $("#Ins").click(function () {
                                    Upd(0)
                                });
                                break;
                        }
                    }

                    event.stopPropagation();
                });
            }


            function band(id, SID) {
                
                $.ajax({
                    url: "/home/Page",
                    data: { ID: id, SID: SID },
                    dataType: "json",
                    type: "post",
                    success: function (res) {
                        if (res != null) {
                            $("#page tr").remove();
                            $("#page").append("<tr style='font-size:20px;'><td>商品名称</td><td>市场价格</td><td>商品售价</td><td>产品介绍</td><td>商品类别</td><td>操作</td></tr>");
                            for (var i = 0; i < res.length; i++) {
                                $("#page").append("<tr><td>"
                                    + res[i]["pro"].ProductName +
                                    "</td><td>"
                                    + res[i]["pro"].SellingPrice +
                                    "</td><td>"
                                    + res[i]["pro"].MarketPrice +
                                    "</td><td>"
                                    + res[i]["pro"].Introduction +
                                    "</td><td>"
                                    + res[i].Name +
                                    "</td><td><input data-id="
                                    + res[i]["pro"].Id +
                                    " class='button' type='button' value='修改'><input data-id="
                                    + res[i]["pro"].Id +
                                    " class='Del' type='button' value='删除'></td></tr>");
                            }
                            $(".Del").click(function () {
                                $.ajax({
                                    url: "/home/Del",
                                    data: { Id: $(this).attr("data-id") },
                                    dataType: "json",
                                    type: "post",
                                    success: function (res) {
                                        if (res) {
                                            if (ind == 0) {
                                                band(1, SID)
                                                coun(SID)
                                            } else {
                                                coun(SID)
                                                band(ind, SID)
                                            }

                                        }
                                    }
                                });
                            });
                            $(".button").click(function () {
                                $('#myModal').modal('show')
                                $.ajax({
                                    url: "/home/Sel",
                                    data: { Id: $(this).attr("data-id") },
                                    dataType: "json",
                                    type: "post",
                                    success: function (res) {
                                        console.log(res);
                                        if (res != null) {
                                            $("#lab").attr("data-id", res["pro"].Id);
                                            $("#name").val(res["pro"].ProductName)
                                            $("#price").val(res["pro"].SellingPrice)
                                            $("#Sprice").val(res["pro"].MarketPrice)
                                            $("#Det").val(res["pro"].Introduction)
                                            $("#type").find("option").eq(res["pro"].CategoryId - 1).prop("selected", true)
                                        }
                                    }
                                });
                            });
                        }
                    }
                });

            }
            band(1, 0)
            coun(SID)
            //$(".btns").click(function () {
            //    band($(this).text());
            //    ind = $(this).text();
            //});

            function Upd(TID) {
                $.ajax({
                    url: "/home/Upd",
                    data: {
                        tid: TID,
                        name: $("#name").val(),
                        price: $("#price").val(),
                        sprice: $("#Sprice").val(),
                        det: $("#Det").val(),
                        ty: $("#type").find("option:selected").val()
                    },
                    dataType: "json",
                    type: "post",
                    success: function (res) {
                        if (res) {
                            $('#myModal').modal('hide')
                            if (ind == 0) {
                                band(1)
                            } else {
                                band(ind)
                            }

                        }
                    }
                });
            }
            $("#Upd").click(function () {
                $("#Upd").text("提交更改")
                Upd($("#lab").attr("data-id"));
            });
        });
    </script>
</body>
</html>



