
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<input id="name" type="text" />
<input id="pwd" type="text" />
<input id="btn" type="button"  value="登录"/>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $("#btn").click(function () {
        $.ajax({
            url: "/home/Login",
            data: {name:$("#name").val(),pwd:$("#pwd").val()},
            dataType: "json",
            type: "post",
            success: function (res) {
                if (res) {
                    location.href="/home/Index"
                } else {
                    alert("用户名或密码错误")
                }
            }
        });
    });
</script>

