
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Size = Convert.ToInt32(ViewData["Count"]);
}

<!DOCTYPE html>
<style>
    * {
        margin: 0 auto;
        padding: 0;
    }
    a {
        text-decoration: none;
        font-size: 20px;
        color: #000;
        display: block;
        width: 60px;
        float: left;
        text-align: center;
        padding: 2px;
        top: 50%;
    }
    .table {
        height:300px;
        text-align:center;
    }
    .Color {
        background-color: aqua;
    }

    #Up {
        margin-left: 30%;
    }

    #Up, #down {
        width: 65px;
    }

        #Up:hover, #down:hover {
            text-decoration: none;
        }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table class="table table-hover" id="page">
        </table>
        <a id="Up" href="javascript:void(0)">上一页</a>
        @for (int i = 0; i < Size; i++)
        {
            <a class="btn" href="javascript:void(0)">@(i + 1)</a>
        }
        <a id="down" href="javascript:void(0)">下一页</a>
    </div>
    <script type="text/javascript">
        $(function () {
            function band(id) {
                $.ajax({
                    url: "/home/Page",
                    type: "post",
                    data: { ind: id },
                    dataType: "json",
                    success: function (res) {
                        console.log(res)
                        if (res != null) {
                            $("#page tr").remove();
                            $("#page").append("<tr style='font-size:20px;'><td>图书名称</td><td>图书简介</td><td>图书价格</td><td>图书库存</td></tr>")
                            for (var i = 0; i < res.length; i++) {
                                if (res[i].BookDetails.length > 10) {
                                    var det = res[i].BookDetails.substring(0, 10)
                                }
                                $("#page").append("<tr><td>" + res[i].BookName + "</td><td>" + det + "</td><td>&yen;" + res[i].BookPrice + ".00</td><td>" + res[i].BookStock + "</td></tr>");
                            }
                        }
                    }
                });
            }
            band(1)
            $("#page tr").eq(0).css("font-Size","20px")
            $("#Up").click(function () {
                if ($(".Color").text() === $(".btn").eq(0).text()) {
                } else {
                    $(".btn").eq($(".Color").text() - 2).addClass("Color").siblings().removeClass("Color");
                    band($(".Color").text())
                }


            });
            $("#down").click(function () {
                if ($(".Color").text() === "7") {
                } else {
                    $(".btn").eq($(".Color").text()).addClass("Color").siblings().removeClass("Color");
                    band($(".Color").text())
                }
            });
            $(".btn").eq(0).addClass("Color");
            $(".btn").click(function () {
                $(this).addClass("Color").siblings().removeClass("Color");
                band($(this).text());
            });
        });
    </script>
</body>
</html>
